<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">

<style>
  h3{
    font-family: 'Indie Flower', cursive;
    font-weight: Bold;
    color:#0c0a4a;
    justify: center;
  }
	body{
		background-color:#edc0d0;
    font-size:16px;
	}

	input{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}

	input::placeholder {
	  color: #d3d3d3;
	}

	.submit{
		background-color:#852ec7;
	}

	.center-column{
		width:600px;
		margin: 20px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 10px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}
  .btn-danger{
    background-color:#99030b;
    border-color: #e59400;
    justify:center;
    width:560px;
  }

 .btn-info{
   background-color:#230e5c;
 }


</style>
<div class="center-column">


<h3>Are you sure to delete task i.e."{{item}}" ?</h3>
<a class="btn  btn-danger" href="{% url 'first' %}">Cancel</a>
<form method="POST" action="">
  {% csrf_token %}
  <input class="btn btn-info" type="submit" value="Yes! Delete The Task... name="confirm">
</form

</div>
